name: API Automation Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Repo'yu çek
      - name: Checkout
        uses: actions/checkout@v3

      # 2️⃣ JDK kur
      - name: Set up Java + Maven
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: maven


      # 4️⃣ Maven testleri çalıştır
      - name: Run Tests
        run: mvn clean test

      # 5️⃣ Allure sonuçlarını artifact olarak yükle
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results
